<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="partials/head"></div>
    <title>Login</title>
</head>
<body>

<div class="container-fluid">

    <div class="row col-sm-12">

        <form class="form" method="post" th:action="@{/login}" style="margin: 100px auto 0;">
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember Me</label>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <hr/>
            <small> Or Login with:</small>
            <p th:each="url : ${urls}">
                <a class="btn btn-success" th:text="${url.key}" th:href="${url.value}">Client</a>
            </p>
        </form>

    </div>
</div>

<div th:include="partials/foot"></div>
</body>
</html>