<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Not a great app!</title>
</head>
<body>
Looks like I'm up and running!!
<br/>
<br/>
<br/>

Looking for <a th:href="@{/events}">your events?</a>
</body>
</html>